<div class="widget list-table">
  <div class="table-box">
  <table>
    <thead>
      <tr>
        <th {{action 'sortBy' 'id'}}>ID</th>
        <th {{action 'sortBy' 'companyName'}}>Company</th>
        <th {{action 'sortBy' 'email'}}>Email</th>
        <th {{action 'sortBy' 'createDate'}}>Create Data</th>
        <th {{action 'sortBy' 'modifyDate'}}>Modify Date</th>
        <th {{action 'sortBy' 'state'}}>State</th>
        <th {{action 'sortBy' 'isReseller'}}>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredContent as |item|}}
      <tr {{action "select" item}} class="clickable {{item.mark}}">
        <td class="tac">{{item.id}}</td>
        <td class="tac">{{item.companyName}}</td>
        <td class="tac">{{item.email}}</td>
        <td class="tac">{{moment-format item.createDate 'YYYY-MM-DD'}}</td>
        <td class="tac">{{moment-format item.modifyDate 'YYYY-MM-DD'}}</td>
        <td class="tac">{{item.state}}</td>
        <td class="tac">{{item.isReseller}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
