<div class="widget list-table">
  <div class="table-head-ribbon">
    <div>
      Total: {{total}} tickets
    </div>
    <div class="ui mini icon input">
      {{input type='text' value=esFilter placeholder='Search...'}}
      <i class="search icon"></i>
    </div>
  </div>

  <div class="table-box">
  <table>
    <thead>
      <tr>
        <th {{action 'sortBy' 'id'}}>ID</th>
        <th {{action 'sortBy' 'title'}}>Title</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredContent as |item|}}
      <tr {{action "select" item}} class="clickable {{item.mark}}">
        <td class="tac">{{item.id}}</td>
        <td class="tac">{{item.title}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
