<div class="widget list-table">
  <div class="table-head-ribbon">
    <div>
      Total: {{total}} servers
    </div>
    <div class="ui mini icon input">
      {{input type='text' value=esFilter placeholder='Search...'}}
      <i class="search icon"></i>
    </div>
  </div>

  <div class="table-box">
  <table>
    <thead>
      <tr>
        <th {{action 'sortBy' 'id'}}>ID</th>
        <th {{action 'sortBy' 'hostname'}}>Hostname</th>
        <th {{action 'sortBy' 'domain'}}>Domain</th>
        <th {{action 'sortBy' 'maxCpu'}}>CPU</th>
        <th {{action 'sortBy' 'maxMemory'}}>Memory</th>
        <th {{action 'sortBy' 'createDate'}}>Created</th>
				<th {{action 'sortBy' 'primaryIpAddress'}}>Primary IP</th>
				<th {{action 'sortBy' 'dedicatedAccountHostOnlyFlag'}}>Dedicated</th>
        <th {{action 'sortBy' 'hourlyBillingFlag'}}>Hourly?</th>
        <th {{action 'sortBy' 'billingFee'}}>Fee</th>
        <th {{action 'sortBy' 'status'}}>Status</th>
        <th {{action 'sortBy' 'powerState'}}>Power</th>
        <th {{action 'sortBy' 'datacenter.longName'}}>Center</th>
        <th {{action 'sortBy' 'imageTemplate.name'}}>Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredContent as |item|}}
      <tr {{action "select" item}} class="clickable {{item.mark}}">
        <td class="tac">{{item.id}}</td>
        <td class="tac">{{item.hostname}}</td>
        <td class="tac">{{item.domain}}</td>
        <td class="tac">{{item.maxCpu}}</td>
        <td class="tac">{{item.maxMemory}}</td>
        <td class="tac">{{time-format item.createDate 'YYYY-MM-DD HH:MM'}}</td>
        <td class="tac">{{item.primaryIpAddress}}</td>
        <td class="tac">{{item.dedicatedAccountHostOnlyFlag}}</td>
        <td class="tac">{{item.hourlyBillingFlag}}</td>
        <td class="tac">{{item.billingFee}}</td>
        <td class="tac">{{item.status}}</td>
        <td class="tac">{{item.powerState}}</td>
        <td class="tac">{{item.datacenter.longName}}</td>
        <td class="tac">{{item.imageTemplate.name}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>
