<h2 id="title">Hardened Layer</h2>

<div id="category-list" class="ui menu" style="float:left; margin: 0 1em">
	<ul style="padding: 0">
		<li>{{link-to 'Home' 'index'}}</li>
		<li>{{link-to 'Account' 'accounts'}}</li>
		<li>{{link-to 'Servers' 'servers'}}</li>
		<li>{{link-to 'Virtual Servers' 'virtual-servers'}}</li>
		<li>{{link-to 'Bare Metal' 'bare-metal-servers'}}</li>
		<li>{{link-to 'Image Template' 'image-templates'}}</li>
		<li>{{link-to 'Open Tickets' 'open-tickets'}}</li>
		<li>{{link-to 'Users' 'users'}}</li>
		<li>{{link-to 'Virtual Disks' 'virtual-disk-images'}}</li>
	</ul>
</div>

<div id="main-panel" class="ui panel">
{{outlet}}
</div>
