{{#ui-sidebar class="inverted vertical menu"}}
	{{link-to 'Home' 'index' class='item'}}
	{{link-to 'Account' 'accounts' class='item'}}
	{{link-to 'Servers' 'servers' class='item'}}
	{{link-to 'Virtual Servers' 'virtual-servers' class='item'}}
	{{link-to 'Bare Metal' 'bare-metal-servers' class='item'}}
	{{link-to 'Image Template' 'image-templates' class='item'}}
	{{link-to 'Open Tickets' 'open-tickets' class='item'}}
	{{link-to 'Users' 'users' class='item'}}
	{{link-to 'Virtual Disks' 'virtual-disk-images' class='item'}}
	{{link-to 'VLANs' 'network-vlans' class='item'}}
{{/ui-sidebar}}

<div class="ui fixed inverted small menu">
	<a class="launch icon item" onClick="$('.ui.sidebar').sidebar('toggle');"
		><i class="content icon"></i></a>
	<a class="active red item">Hardened Layer</a>
	<a class="item">{{currentPath}}</a>
	<div class="right menu">
		<a class="ui item">Logout</a>
	</div>
</div>

<div class="ui grid pusher">
{{outlet}}
</div>
