<h2>Bare Metal Server {{model.hostname}}</h2>
<table>
	<tr>
		<th>Provisioned</th>
		<th>Private Network Only</th>
		<th>Primary Backend Address</th>
	</tr>
	<tr>
		<td class='tac'>{{model.provisionDate}}</td>
		<td class='tac'>{{model.privateNetworkOnlyFlag}}</td>
		<td class='tac'>{{model.primaryBackendIpAddress}}</td>
	</tr>
</table>

{{render "tables.network-vlans" model.networkVlans}}
{{render "tables.network-components" model.networkComponents}}
